<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeu.app.conscribo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:windowSoftInputMode="stateVisible|adjustResize" >
        <activity
            android:name=".MainDashboard"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".ReadWriteStoryActivity"
            android:label="@string/title_activity_story_mode"
            android:parentActivityName=".MainDashboard" >
        </activity>
        <activity
            android:name=".CreateStoryActivity"
            android:label="@string/title_activity_create_story"
            android:parentActivityName=".MainDashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codeu.app.conscribo.MainDashboard" />
        </activity>
        <activity
            android:name=".TreeBranchActivity"
            android:label="@string/title_activity_tree_branch" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".DispatchActivity"
            android:label="@string/title_activity_dispatch" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>

        <provider
            android:name=".provider.StoryProvider"
            android:authorities="com.codeu.app.conscribo"
            android:enabled="true"
            android:exported="true" >
        </provider>
    </application>

</manifest>
